<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6">
    <nav role="navigation" class="docs-navbar-header">
      <a
        mat-button
        class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base"
      >
        <span>Dott's Items</span>
      </a>

      <a
        mat-button
        class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base"
      >
        <span>Add Item</span>
      </a>
      <a
        mat-button
        class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base"
      >
        <span>Add Template</span>
      </a>
      <a
        mat-button
        class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base"
      >
        <span>Items</span>
      </a>
    </nav>
    <div class="flex-spacer"></div>
    <a
        mat-button
        class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base"
        href="https://www.ebay.com/sh/ovw"
      >
        <span>Ebay</span>
      </a>
      <a
      mat-button
      class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base"
      href="https://poshmark.com/feed"
    >
      <span>Poshmark</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
