<div class="input-grid">
  <div class="input__header">
    <h2 class="input__header-small">Fields & Values</h2>
    <div class="input__header-field">
      <h2>Fields</h2>
    </div>
    <div class="input__header-value">
      <h2>Values</h2>
    </div>
  </div>
  <div
    class="input__content__options"
    *ngFor="let input of totalInputs; let i = index"
  >
    <div class="input__content">
      <input
        maxlength="30"
        class="input__content-field"
        id="{{ 'field_' + i }}"
        name="{{ 'field_' + i }}"
        (keydown)="onInputKeydown($event, i, 'inField')"
      />

      <input
        *ngIf="longFieldIndex !== i"
        maxlength="80"
        class="input__content-value mat-body"
        id="{{ 'value_' + i }}"
        name="{{ 'value_' + i }}"
        (keydown)="onInputKeydown($event, i, 'inValue')"
      />
      <textarea
        *ngIf="longFieldIndex === i"
        style="height: auto"
        maxlength="250"
        rows="3"
        class="input__content-value text-area mat-body"
        id="{{ 'value_' + i }}"
        name="{{ 'value_' + i }}"
        (input)="autoGrow($event)"
        [value]="longFieldValue"
        (keydown)="onInputKeydown($event, i, 'inValue')"
      ></textarea>

      <!-- <mat-form-field class=".col-1">
      <input matInput maxlength="30" id="{{'field_' + i}}" name="{{'field_' + i}}"/>
    </mat-form-field>
    <mat-form-field class=".col-2">
      <input matInput #message maxlength="80" id="{{'value_' + i}}" name="{{'value_' + i}}"/>
      <mat-hint align="end">{{ message.value.length }} / 250</mat-hint>
    </mat-form-field> -->
      <!-- <div class="input__content-options">
      <button
        mat-icon-button
        type="button"
        color="warn"
        (click)="onClearItem(i)"
        tabIndex="-1"
        class="input__c"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div> -->
    </div>
    <div class="input__content-edit" *ngIf="editMode">
      <button
        mat-flat-button
        color="warn"
        value="Delete"
        (click)="onClearItem(i)"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <button
        mat-flat-button
        [color]="longFieldIndex === i ? 'accent' : 'primary'"
        value="Long"
        (click)="onLongClick(i)"
        [disabled]="longFieldIndex !== -1 && longFieldIndex !== i"
        [ngStyle]="{
          visibility:
            longFieldIndex !== -1 && longFieldIndex !== i ? 'hidden' : ''
        }"
      >
        L
      </button>
    </div>
  </div>
</div>
