.input__content-options {
  visibility: hidden;
}

.input-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.header-row {
  grid-column-start: span 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.input-grid,
.input__content {
  display: grid;
  grid-template-columns: 30% 60% 1fr;
}

.input-grid {
  padding: 1rem 2rem;
}

.input__content {
  grid-column-start: span 3;
}

.input__content-field,
.input__content-value,
.input__content-options {
  justify-self: center;
  align-self: center;
}

.input__content:hover .input__content-options {
  visibility: visible;
}

.input__content-field,
.input__content-value {
  border: none;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 3px;
  height: 1.5rem;
  background-color: hsl(262deg 52% 93%) !important;

  padding: 0 0.75rem;
}

.input__content-field:focus .input__content-value:focus {
  outline: transparent;
  box-shadow: 2px 2px 2px rgb(103, 58, 183, 0.5);
  transform: scale(1.1);
}

.title,
.input__content-field,
.input__content-value,
.input__content-options {
  justify-self: center;
  align-self: center;
}

.input__content-field {
  width: 80%;
}

.input__content-value {
  width: 80%;
}
