

<div class="input-rows">
  <div class="header-row">
    <h2 class=".col-1">Fields</h2>
    <h2 class=".col-2">Values</h2>
    <h2 class="col-3"></h2>
  </div>
  <div class="input-row" *ngFor="let input of totalInputs; let i = index">
    <mat-form-field class=".col-1">
      <input matInput maxlength="30" id="{{'field_' + i}}" name="{{'field_' + i}}"/>
    </mat-form-field>
    <mat-form-field class=".col-2">
      <input matInput #message maxlength="80" id="{{'value_' + i}}" name="{{'value_' + i}}"/>
      <!-- <mat-hint align="end">{{ message.value.length }} / 250</mat-hint> -->
    </mat-form-field>
    <button
      class="item-clear"
      mat-icon-button
      type="button"
      color="warn"
      (click)="onClearItem(i)"
      tabIndex="-1"
      class="col-3"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
