.input-grid {
  display: grid;
  padding: 0.5rem;
}

.input__content {
  display: grid;
  margin-bottom: 0.5rem;
}

.input__content-options {
  visibility: hidden;
}

.input__content:hover .input__content-options {
  visibility: visible;
}

.input__content__options {
  position: relative;
}

.input__content-edit {
  padding: 0;
  position: absolute;
  vertical-align: middle;
  right: 0;
  top: 0;

  border-radius: 0;
  box-shadow: none;
  height: 1.5rem;
}

.input__content-edit button,
.input__content-edit .mat-button-wrapper {
  /* height: 1.9rem; */
  line-height: normal;
  border-radius: 0;
  vertical-align: middle;
  height: 100%;
}

.input__content-field,
.input__content-value {
  /* border: none; */
  /* box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5); */
  /* border-radius: 3px; */
  border: 3px;
  height: 1.5rem;
  background-color: hsl(262deg 52% 93%) !important;
  padding: 0 0.75rem;
  margin: 0 0.25rem;
  margin-bottom: 0.5rem;
}

.input__content-field:focus,
.input__content-value:focus {
  outline: transparent;
  box-shadow: 2px 2px 2px rgb(103, 58, 183, 0.5);
  transform: scale(1.05);
}

.input__content-field {
  width: 50%;
}

.input__content-value {
  margin-left: 1.5rem;
}

.input__header-small {
  display: inline-block;
}

.input__header-field,
.input__header-value {
  display: none;
}

@media (min-width: 27rem) {
  .input__header-small {
    display: inline-block;
  }

  .input__header,
  .input__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .input__header-small {
    display: none;
  }

  .input__header-field,
  .input__header-value {
    display: inline-block;
  }

  .input__content-field,
  .input__header-field {
    flex-basis: 20%;
    min-width: 8rem;
  }

  .input__content-value,
  .input__header-value {
    flex-grow: 1;
    max-width: 40rem;
  }

  .input__header-field,
  .input__header-value {
    margin: 0 1rem;
    padding: 0 0.75rem;
    text-align: center;
  }

  .input__content-field,
  .input__content-value {
    margin: 0 1rem;
    /* margin-bottom: 0.5rem; */
  }
}
