.col-3 {
  visibility: hidden;
}

.input-rows {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  flex-direction: column;
}

.header-row,
.input-row {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.input-row:hover  .col-3{
  visibility: visible;
}
