ul {
  list-style-type: none;
  /* margin-top: 4px; */
  padding: 0;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding: 0.8rem;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

mat-sidenav-content {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  height: auto;
}

.container__table {
  overflow: scroll;
}

.top-tools {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
}

.top-tools button {
  margin: 0.25rem;
}

.left-tools {
  width: 7%;
  margin-left: 0.5rem;
}

.search-tools {
  width: 68%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-tools > * {
  margin: 0 2rem;
  width: 90%;
}

.search-tools mat-form-field {
  width: 100%;
}

.search-chips {
  display: flex;
  width: 100%;
}

.search-chips > mat-chip-list {
  margin: 0 0.5rem;
}

.right-tools {
  margin-left: auto;
  margin-right: 1rem;
}

.cell__edited {
  /* color: hsl(271, 98%, 55%); */
  color: #673ab7;

  font-weight: 700;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1920px; /* 24 columns, 80px each */
}

.mat-header-row {
  background-color: rgba(194, 178, 223, 0.5);
}
