<h1 mat-dialog-title>Name your Template</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Template name</mat-label>
    <input
      matInput
      cdkFocusInitial
      [(ngModel)]="data.templateName"
      (keydown.enter)="saveButton.focus()"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()" color="warn">Cancel</button>
  <button
    mat-stroked-button
    [mat-dialog-close]="data.templateName"
    color="primary"
    #saveButton
  >
    Save
  </button>
</div>
