/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* stop material dialog from giving extra scrollbar */
.cdk-global-scrollblock {
  position: static;
  overflow-y: hidden;
}

/* overwrite material styling */
/* styling span in mat snackbar instead of here */
.mat-snack-bar-container {
  text-align: center;
  min-width: 0 !important;
  box-shadow: none;
  background-color: #fafafa;
}
