mat-sidenav-container {
  height: 100%;
}

mat-sidenav button {
  display: block;
  margin: 0.5rem;
  width: 90%;
}

.item-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.top-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem;
}

.left-tools,
.middle-tools,
.right-tools {
  margin: 0.25rem;
}

.left-tools {
  display: flex;
  flex-wrap: wrap;
}

.middle-tools,
.right-tools {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.left-tools button,
.middle-tools button,
.right-tools button {
  margin: 0.25rem 0.25rem;
}

.top-tools__icon {
  transform: scale(1);
}

.spacer {
  display: inline-block;
  width: 0.5rem;
}

.mat-list-base {
  padding: 0;
}

.templates__list {
  display: flex;
}

.templates__list button,
.templates__list .mat-button-wrapper {
  display: inline-block;
  border-radius: 0;
}

#selectedTemplate {
  background-color: #673ab7;
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 16px;
  align-items: baseline;
  align-self: center;
  margin: 0 0.25rem;
}

#selectedTemplate:hover {
  opacity: 0.85;
}

@media (min-width: 40rem) {
  .middle-tools,
  .right-tools {
    display: block;
    flex-grow: 0;
  }
}
