<div
  class="top-tools"
  (keydown.escape)="sidenav.close()"
  (click)="onTopToolsClick($event)"
>
  <div class="left-tools">
    <button mat-raised-button (click)="sidenav.toggle()">Templates</button>
  </div>
  <div class="non-template-button"></div>
  <div class="middle-tools">
    <div class="add-input">
      <button
        mat-raised-button
        class="add-input__button"
        color="primary"
        (click)="onAddInput()"
      >
        Add Input
        <span class="spacer"></span>
        <mat-icon class="add-icon" color="accent">add_circle</mat-icon>
      </button>
    </div>
  </div>

  <div class="right-tools">
    <button mat-raised-button (click)="onSubmit()">Save</button>
    <button mat-raised-button (click)="onSaveTemplate()">
      Save As Template
    </button>
    <button mat-raised-button color="warn">Clear</button>
  </div>
</div>

<mat-divider></mat-divider>
<mat-sidenav-container
  (backdropClick)="sidenav.close()"
  (keydown.escape)="sidenav.close()"
>
  <mat-sidenav #sidenav autoFocus="false" opened="false">
    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let template of templates"
        [value]="template"
        (click)="sidenav.close()"
      >
        {{ template }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-item-input></app-item-input>
  </mat-sidenav-content>
</mat-sidenav-container>
