mat-sidenav-container {
  height: 100%
}


mat-sidenav .mat-button {
  display: block;
}

.item-form {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
}

#add-item-input {
  margin-left: auto;
  float: right;
}
