<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened="true">
    <h2>Templates</h2>
    <mat-divider></mat-divider>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let template of templates" [value]="template">
        {{ template }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-item-input
        *ngIf="addingTemplate"
        [templateName]="'Template Name'"
        [nameLength]="30"
      ></app-item-input>
    </div>
    <div class="item-form">
      <h2>Fields</h2>
      <h2>Values</h2>
      <button id="add-item-input" mat-mini-fab>
        <mat-icon color="primary" (click)="onAdd()">add</mat-icon>
      </button>
    </div>
    <form>
      <app-item-input
        *ngFor="let input of totalInputs; let i = index"
        [inputIndex]="i"
      ></app-item-input>
    </form>
    <button mat-raised-button>
      {{ addingTemplate ? "Save Template" : "Save" }}
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
